BOT_TOKEN=
SOURCE_SITE_BASE=https://animefire.io
WEBAPP_BASE_URL=http://127.0.0.1:8000
REQUIRED_CHANNEL=
REQUIRED_CHANNEL_URL=
DOWNLOAD_ARCHIVE_CHANNEL=-1003776313014
OFFLINE_REFERRAL_REQUIRED_CLICKS=3
BOT_BRAND=Anime Brasil
